body, html{
    margin: 0;
    padding: 0;
    height: auto;
    font-family: sans-serif;
}
.main{
    width: auto;
    height: auto;
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;

}
.boxouter{
    border: 2px solid red;
    width: 60%;
    height: auto;
    margin: 30px;
    border-radius: 10px;
}
.box {
    border: 2px dotted red;
    display: flex;
    padding: 20px;
    margin : 15px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.login{
    flex: 1;
    padding: 20px;
}

.more {
    flex: 1;
    display: block;
    background-color: orange;
    text-align: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    background-color: rgba(255, 165, 0, 0.65);
    
    padding: 12px 20px 12px 12px;
}

input::placeholder{
    font-size: 1rem;
    color: white;
}

.backbutton:hover{
    text-decoration: underline;
}

.optionbutton{
    text-decoration: none;
    background-color: orange;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    border: none;
    height: auto;
    width: auto;
    color: white;
}

.loginbutton:hover{
    background-color: darkorange;
    
}

.more img{
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.options{
    justify-content: center; 
    text-align: left;
    font-size: 1.1rem;
    padding: 10px;
}

.options a{
    text-decoration: none;
    color: white;
}

.options:hover{
    text-decoration: underline;
}

.chat{
    display: flex;
}

.chat-text{
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 0.8rem;
}

.chat-icon{
    justify-content: center;
    align-items: center;
    flex: 1;
    display:flex;
}

.action-button{
    display: flex;
    justify-content: space-between;
}

.copyright{
    color: black; 
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
}

@media (max-width: 992px) {
    .box{
        display: block;
    }
}

@media (max-width: 768px) {
    .main{
        display: block;
    }
    .box{
        display: block;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .boxouter{
        width: 90%;
    }
}